<div class="caption">
    <div class="container">
        <div class="div-table">
            <div class="div-cell">
                <div class="caption-content">
                    <!-- Search form -->
                    <div class="form-search light">
                        <form #f="ngForm" (ngSubmit)="onUpdateTrajet(f.value)">
                            <div class="form-title">
                                <i class="fa fa-globe"></i>
                                <h2>Editer une offre</h2>
                            </div>

                            <div class="row row-inputs">
                                <div class="container-fluid">
                                    <div class="col-sm-12">
                                        <div class="form-group has-icon has-label">
                                            <label for="formSearchUpLocation2">Lieu de Départ</label>
                                            <input type="text" name="lieuDepart" class="form-control" id="formSearchUpLocation2"
                                                placeholder="Airport or Anywhere" ngModel [(ngModel)]="currentTrajet.lieuDepart" />
                                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group has-icon has-label">
                                            <label for="formSearchOffLocation2">Lieu d'arrivé</label>
                                            <input type="text" name="lieuArrive" class="form-control" id="formSearchOffLocation2"
                                                placeholder="Airport or Anywhere" ngModel [(ngModel)]="currentTrajet.lieuArrive" />
                                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-inputs">
                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                            <label>Villes de passage</label>
                                            <select name="villePassage" class="form-control" title="choisir" ngModel [(ngModel)]="currentTrajet.villePassage">
                                                <option value="1">Autoroute</option>
                                                <option value="2">Nationnale</option>
                                            </select>
                                            <span class="form-control-icon"><i class="fa fa-road"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                            <label for="formSearchOffLocation2">Nombres de Places</label>
                                            <input type="text" name="nbPlaces" class="form-control" id="formSearchOffLocation2"
                                                placeholder="Nombre de place" ngModel [(ngModel)]="currentTrajet.nbPlaces">
                                            <span class="form-control-icon"><i class="fa fa-user"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                            <label for="formSearchOffLocation2">Prix</label>
                                            <input type="text" name="prix" class="form-control" id="formSearchOffLocation2"
                                                placeholder="Prix" ngModel [(ngModel)]="currentTrajet.prix">
                                            <span class="form-control-icon"><i class="fa fa-money"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-inputs">
                                <div class="container-fluid">
                                    <div class="col-sm-7">
                                        <div class="form-group has-icon has-label">
                                            <label for="formSearchOffDate2">Date de Départ</label>
                                            <input type="text" name="dateDepart" class="form-control datepicker" data-date-format="DD/MM/YYYY hh:mm A"
                                             id="formSearchOffDate2" placeholder="dd/mm/yyyy" ngModel [(ngModel)]="currentTrajet.dateDepart">
                                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                            <label>Valise</label>
                                            <input type="text" name="valise" placeholder="Nombre de valise" class="form-control" 
                                            ngModel [(ngModel)]="currentTrajet.valise">
                                            <span class="form-control-icon"><i class="fa fa-suitcase"></i></span>
                                        </div>
                                    </div>
                                    <div style="text-align: center;">
                                        <button type="submit" id="formSearchSubmit2"
                                            class="btn btn-submit btn-theme ripple-effect">
                                            <i class="fa fa-pencil"></i> Modifier Trajet
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  