@import './assets/plugins/bootstrap/css/bootstrap.min.css';
@import './assets/plugins/bootstrap-select/css/bootstrap-select.min.css';
@import './assets/plugins/fontawesome/css/font-awesome.min.css';
@import './assets/plugins/prettyphoto/css/prettyPhoto.css';
@import './assets/plugins/owl-carousel2/assets/owl.carousel.min.css';
@import './assets/plugins/owl-carousel2/assets/owl.theme.default.min.css';
@import './assets/plugins/animate/animate.min.css';
@import './assets/plugins/swiper/css/swiper.min.css';
@import './assets/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css';
@import './assets/css/theme.css';
@import './assets/css/theme-login.css';
/* You can add global styles to this file, and also import other style files */
